.composition {
  position: relative;
  height:1vh;
  @include resp(sm){
    height: 20rem;
   }

  &__photo {
    width: 48%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    @include resp(sm){
      // float:left;
      // position: relative;
      width: 33.3%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }
    
    &--p1 {
      left: 0;
      top: -2rem;
      @include resp(sm){
        left: 15%; 
        top:0rem;
      }
    }
    &--p2 {
      right: 0;
      top: 2rem;
      @include resp(sm){
        right:15%;
       }
    }
    &--p3 {
      left: 20%;
      top: 10rem;
      @include resp(sm){
        left:30%;
        top:5rem;
        
       }
    }
    
    &:hover{
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 99;
    }
  }
  &:hover &__photo:not(:hover){
    transform: scale(.9);
  }
}
